* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-column-size: calc(100% / 12);
  --default-background: #f98737;
}

.grid-content {
  padding: 0 3%;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: middle;
}

.sz1 {
  width: calc((var(--default-column-size) * 1) - 4px);
  width: -webkit-calc((var(--default-column-size) * 1) - 4px);
  background: var(--default-background);
}

.sz2 {
  width: calc((var(--default-column-size) * 2) - 4px);
  width: -webkit-calc((var(--default-column-size) * 2) - 4px);
  background: var(--default-background);
}

.sz3 {
  width: calc((var(--default-column-size) * 3) - 4px);
  width: -webkit-calc((var(--default-column-size) * 3) - 4px);
  background: var(--default-background);
}

.sz4 {
  width: calc((var(--default-column-size) * 4) - 4px);
  width: -webkit-calc((var(--default-column-size) * 4) - 4px);
  background: var(--default-background);
}

.sz5 {
  width: calc((var(--default-column-size) * 5) - 4px);
  width: -webkit-calc((var(--default-column-size) * 5) - 4px);
  background: var(--default-background);
}

.sz6 {
  width: calc((var(--default-column-size) * 6) - 4px);
  width: -webkit-calc((var(--default-column-size) * 6) - 4px);
  background: var(--default-background);
}

.sz7 {
  width: calc((var(--default-column-size) * 7) - 4px);
  width: -webkit-calc((var(--default-column-size) * 7) - 4px);
  background: var(--default-background);
}

.sz8 {
  width: calc((var(--default-column-size) * 8) - 4px);
  width: -webkit-calc((var(--default-column-size) * 8) - 4px);
  background: var(--default-background);
}

.sz9 {
  width: calc((var(--default-column-size) * 9) - 4px);
  width: -webkit-calc((var(--default-column-size) * 9) - 4px);
  background: var(--default-background);
}

.sz10 {
  width: calc((var(--default-column-size) * 10) - 4px);
  width: -webkit-calc((var(--default-column-size) * 10) - 4px);
  background: var(--default-background);
}

.sz11 {
  width: calc((var(--default-column-size) * 11) - 4px);
  width: -webkit-calc((var(--default-column-size) * 11) - 4px);
  background: var(--default-background);
}

.sz12 {
  width: calc(100% - 4px);
  width: -webkit-calc(100% - 4px);
  background: var(--default-background);
}
